{{define "body"}}
<div id="page-body" class="page-body" role="main">
    <!-- Forum title -->
    <h2 class="forum-title"><a href="./viewforum.php?f=22&amp;sid=929a524515b952cd9cf2ca670ce2d162">Your Money ...</a></h2>

    <a class="category" id="category29" style="display: none; height: 0"></a>
    <div class="forabg">
        <div class="inner">
            <ul class="topiclist">
                <li class="header">
                    <dl class="row-item">
                        <dt>
                            <div class="list-inner">Forum</div>
                        </dt>
                        <dd class="topics">Topics</dd>
                        <dd class="posts">Posts</dd>
                        <dd class="lastpost"><span>Last post</span></dd>
                    </dl>
                    <a href="/forum/collapse/fid_29?hash=3f46a04b&amp;sid=929a524515b952cd9cf2ca670ce2d162" class="collapse-btn" data-hidden="" data-ajax="phpbb_collapse" data-overlay="true" data-title-alt="Show this forum category" title="Hide this forum category" style="display: none; line-height: 0;">
                        <i class="fa fa-minus-square"></i>
                    </a>
                </li>
            </ul>
            <ul class="topiclist forums">

                <!-- Sub forum 29 -->
                <li class="row">
                    <dl class="row-item forum_read">
                        <dt title="No unread posts">
                            <div class="list-inner">
                                <a href="./viewforum.php?f=29&amp;sid=929a524515b952cd9cf2ca670ce2d162" class="forumtitle">Financial Planning and Building Portfolios</a>
                                <br />Asset allocation, risk, diversification and rebalancing. Pros/cons of hiring a financial advisor. <a href="//www.financialwisdomforum.org/forum/viewtopic.php?f=29&amp;t=116284" class="postlink">Seeking advice</a> on your portfolio?
                                <div class="responsive-show" style="display: none;">
                                    Topics: <strong>3964</strong>
                                </div>
                            </div>
                        </dt>
                        <dd class="topics">3964 <dfn>Topics</dfn></dd>
                        <dd class="posts">88468 <dfn>Posts</dfn></dd>
                        <dd class="lastpost">
                            <span>
                                <dfn>Last post</dfn>
                                <a href="./viewtopic.php?p=791956&amp;sid=929a524515b952cd9cf2ca670ce2d162#p791956" title="Re: VGRO but wanting a little something extra in dividends" class="lastsubject">Re: VGRO but wanting a little…</a> <br />
                                by <a href="./memberlist.php?mode=viewprofile&amp;u=1032&amp;sid=929a524515b952cd9cf2ca670ce2d162" class="username">ockham</a> <a href="./viewtopic.php?p=791956&amp;sid=929a524515b952cd9cf2ca670ce2d162#p791956" title="View the latest post">
                                    <i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">View the latest post</span>
                                </a>
                                <br /><time datetime="2025-05-05T17:18:41+00:00">05 May 2025 13:18</time>
                            </span>
                        </dd>
                    </dl>
                </li>

                <!-- Sub forum 30 -->
                <li class="row">
                    <dl class="row-item forum_read">
                        <dt title="No unread posts">
                            <div class="list-inner">
                                <a href="./viewforum.php?f=30&amp;sid=929a524515b952cd9cf2ca670ce2d162" class="forumtitle">Retirement, Pensions and Peace of Mind</a>
                                <br />Preparing for life after work. RRSPs, RRIFs, TFSAs, annuities and meeting future financial and psychological needs.
                                <div class="responsive-show" style="display: none;">
                                    Topics: <strong>1551</strong>
                                </div>
                            </div>
                        </dt>
                        <dd class="topics">1551 <dfn>Topics</dfn></dd>
                        <dd class="posts">44995 <dfn>Posts</dfn></dd>
                        <dd class="lastpost">
                            <span>
                                <dfn>Last post</dfn>
                                <a href="./viewtopic.php?p=791960&amp;sid=929a524515b952cd9cf2ca670ce2d162#p791960" title="Re: OAS Service Canada - PERMANENTLY Temporarily Unavailable" class="lastsubject">Re: OAS Service Canada - PERM…</a> <br />
                                by <a href="./memberlist.php?mode=viewprofile&amp;u=15444&amp;sid=929a524515b952cd9cf2ca670ce2d162" class="username">Clueless_Expat</a> <a href="./viewtopic.php?p=791960&amp;sid=929a524515b952cd9cf2ca670ce2d162#p791960" title="View the latest post">
                                    <i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">View the latest post</span>
                                </a>
                                <br /><time datetime="2025-05-05T20:36:48+00:00">05 May 2025 16:36</time>
                            </span>
                        </dd>
                    </dl>
                </li>

                <!-- Sub forum 31 -->
                <li class="row">
                    <dl class="row-item forum_read">
                        <dt title="No unread posts">
                            <div class="list-inner">
                                <a href="./viewforum.php?f=31&amp;sid=929a524515b952cd9cf2ca670ce2d162" class="forumtitle">Financial News, Policy and Economics</a>
                                <br />Recommended reading, economic debates, predictions and opinions.
                                <div class="responsive-show" style="display: none;">
                                    Topics: <strong>1326</strong>
                                </div>
                            </div>
                        </dt>
                        <dd class="topics">1326 <dfn>Topics</dfn></dd>
                        <dd class="posts">47789 <dfn>Posts</dfn></dd>
                        <dd class="lastpost">
                            <span>
                                <dfn>Last post</dfn>
                                <a href="./viewtopic.php?p=791949&amp;sid=929a524515b952cd9cf2ca670ce2d162#p791949" title="Re: &quot;We're living in a bubble, and it won't be pretty when it bursts&quot;" class="lastsubject">Re: &quot;We're living in a bubble…</a> <br />
                                by <a href="./memberlist.php?mode=viewprofile&amp;u=13781&amp;sid=929a524515b952cd9cf2ca670ce2d162" class="username">Marcus Aurelius</a> <a href="./viewtopic.php?p=791949&amp;sid=929a524515b952cd9cf2ca670ce2d162#p791949" title="View the latest post">
                                    <i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">View the latest post</span>
                                </a>
                                <br /><time datetime="2025-05-05T15:21:25+00:00">05 May 2025 11:21</time>
                            </span>
                        </dd>
                    </dl>
                </li>

                <!-- Sub forum 32 -->
                <li class="row">
                    <dl class="row-item forum_read">
                        <dt title="No unread posts">
                            <div class="list-inner">
                                <a href="./viewforum.php?f=32&amp;sid=929a524515b952cd9cf2ca670ce2d162" class="forumtitle">Taxing Situations</a>
                                <br />Income tax policy, rules, problems, strategy and software. Property and consumption taxes too.
                                <div class="responsive-show" style="display: none;">
                                    Topics: <strong>2752</strong>
                                </div>
                            </div>
                        </dt>
                        <dd class="topics">2752 <dfn>Topics</dfn></dd>
                        <dd class="posts">40898 <dfn>Posts</dfn></dd>
                        <dd class="lastpost">
                            <span>
                                <dfn>Last post</dfn>
                                <a href="./viewtopic.php?p=791954&amp;sid=929a524515b952cd9cf2ca670ce2d162#p791954" title="Re: RRSP deduction limit when contributions are carried forward?" class="lastsubject">Re: RRSP deduction limit when…</a> <br />
                                by <a href="./memberlist.php?mode=viewprofile&amp;u=35&amp;sid=929a524515b952cd9cf2ca670ce2d162" class="username">adrian2</a> <a href="./viewtopic.php?p=791954&amp;sid=929a524515b952cd9cf2ca670ce2d162#p791954" title="View the latest post">
                                    <i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">View the latest post</span>
                                </a>
                                <br /><time datetime="2025-05-05T16:27:34+00:00">05 May 2025 12:27</time>
                            </span>
                        </dd>
                    </dl>
                </li>

            </ul>
        </div>
    </div>

    <!-- Bottom bar -->
    <div class="action-bar actions-jump">
        <p class="jumpbox-return">
            <a href="./index.php?sid=929a524515b952cd9cf2ca670ce2d162" class="left-box arrow-left" accesskey="r">
                <i class="icon fa-angle-left fa-fw icon-black" aria-hidden="true"></i><span>Return to Board Index</span>
            </a>
        </p>
    </div>
</div>
{{end}}