{{ define "body" }}
{{ $root := . }}
<!-- Page body: Current time, Forums / Posts -->
<div id="page-body" class="page-body" role="main">
    <p class="right responsive-center time">It is currently {{ $root.CurrentTime | fnUnixTimeToStr }}</p>

    {{ range $forumNode := $root.ForumChildNodes }}
    <a class="category" id="category22" style="display: none; height: 0"></a>
    <div class="forabg">
        <div class="inner">
            <ul class="topiclist">
                <li class="header">
                    <dl class="row-item">
                        <dt>
                            <div class="list-inner"><a href="./forums?f={{ $forumNode.Forum.ForumId }}">{{ $forumNode.Forum.ForumName }}</a></div>
                        </dt>
                        <dd class="topics">Topics</dd>
                        <dd class="posts">Posts</dd>
                        <dd class="lastpost"><span>Last post</span></dd>
                    </dl>
                    <a href="/forum/collapse/fid_22?hash=93798400&amp;sid=737e81ca3b461a841614ced308b629c6" class="collapse-btn" data-hidden="" data-ajax="phpbb_collapse" data-overlay="true" data-title-alt="Show this forum category" title="Hide this forum category" style="display: none; line-height: 0;">
                        <i class="fa fa-minus-square"></i>
                    </a>
                </li>
            </ul>
            <ul class="topiclist forums">
                {{ range $counter, $forumNode := $forumNode.ForumChildNodes }}
                <li class="row">
                    <dl class="row-item forum_read">
                        <dt title="No unread posts">
                            <div class="list-inner">
                                {{ if $forumNode.IsLeaf }}
                                <a href="./topics?f={{ $forumNode.Forum.ForumId }}" class="forumtitle">{{ $forumNode.Forum.ForumName }}</a>
                                {{ else }}
                                <a href="./forums?f={{ $forumNode.Forum.ForumId }}" class="forumtitle">{{ $forumNode.Forum.ForumName }}</a>
                                {{ end }}
                                <br />{{ $forumNode.Forum.ForumDesc }}

                                {{ if gt (len $forumNode.ForumChildNodes) 0 }}
                                <br /><strong>Subforums:</strong>
                                {{ range $counter, $forumNode := $forumNode.ForumChildNodes }}
                                {{ if $forumNode.IsLeaf }}
                                <a href="./topics?f={{ $forumNode.Forum.ForumId }}" class="subforum read" title="No unread posts"><i class="icon fa-file-o fa-fw  icon-blue icon-md" aria-hidden="true"></i>{{ $forumNode.Forum.ForumName }}</a>{{ if lt (fnAdd $counter 1) (len $forumNode.ForumChildNodes) }},{{ end }}
                                {{ else }}
                                <a href="./forums?f={{ $forumNode.Forum.ForumId }}" class="subforum read" title="No unread posts"><i class="icon fa-file-o fa-fw  icon-blue icon-md" aria-hidden="true"></i>{{ $forumNode.Forum.ForumName }}</a>{{ if lt (fnAdd $counter 1) (len $forumNode.ForumChildNodes) }},{{ end }}
                                {{ end }}
                                {{ end }}
                                {{ end }}

                                <div class="responsive-show" style="display: none;">
                                    Topics: <strong>{{ $forumNode.Forum.ForumNumTopics }}</strong>
                                </div>
                            </div>
                        </dt>
                        <dd class="topics">{{ $forumNode.Forum.ForumNumTopics }} <dfn>Topics</dfn></dd>
                        <dd class="posts">{{ $forumNode.Forum.ForumNumPosts }} <dfn>Posts</dfn></dd>
                        <dd class="lastpost">
                            {{ if ne $forumNode.Forum.ForumLastPostId 0 }}
                            <span>
                                <dfn>Last post</dfn>
                                <a href="./posts?p={{ $forumNode.Forum.ForumLastPostId }}#p{{ $forumNode.Forum.ForumLastPostId }}" title="{{ $forumNode.Forum.ForumLastPostSubject }}" class="lastsubject">{{ $forumNode.Forum.ForumLastPostSubject }}</a> <br />
                                by <a href="./memberlist.php?mode=viewprofile&amp;u={{ $forumNode.Forum.ForumLastPostUserId }}&amp;sid=929a524515b952cd9cf2ca670ce2d162" class="username">{{ $forumNode.Forum.ForumLastPostUserName }}</a> <a href="./posts?p={{ $forumNode.Forum.ForumLastPostId }}#p{{ $forumNode.Forum.ForumLastPostId }}" title="View the latest post">
                                    <i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">View the latest post</span>
                                </a>
                                <br /><time datetime="{{ $forumNode.Forum.ForumLastPostTime }}">{{ $forumNode.Forum.ForumLastPostTime | fnUnixTimeToStr }}</time>
                            </span>
                            {{ end }}
                        </dd>
                    </dl>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
    {{ end }}

    <!-- Login, Register, Who is online, Statistics -->
    <form method="post" action="./ucp.php?mode=login&amp;sid=737e81ca3b461a841614ced308b629c6" class="headerspace">
        <h3>
            <a href="./ucp.php?mode=login&amp;redirect=index.php&amp;sid=737e81ca3b461a841614ced308b629c6">Login</a>&nbsp; &bull; &nbsp;<a href="./ucp.php?mode=register&amp;sid=737e81ca3b461a841614ced308b629c6">Register</a>
        </h3>
        <fieldset class="quick-login">
            <label for="username"><span>Username:</span> <input type="text" tabindex="1" name="username" id="username" size="10" class="inputbox" title="Username" autocomplete="username" /></label>
            <label for="password"><span>Password:</span> <input type="password" tabindex="2" name="password" id="password" size="10" class="inputbox" title="Password" autocomplete="current-password" /></label>
            <a href="/forum/user/forgot_password?sid=737e81ca3b461a841614ced308b629c6">I forgot my password</a>
            <span class="responsive-hide">|</span> <label for="autologin">Remember me <input type="checkbox" tabindex="4" name="autologin" id="autologin" /></label>
            <input type="submit" tabindex="5" name="login" value="Login" class="button2" />
            <input type="hidden" name="redirect" value="./index.php?sid=737e81ca3b461a841614ced308b629c6" />
            <input type="hidden" name="creation_time" value="1746169723" />
            <input type="hidden" name="form_token" value="a3d9a8471f9010931c7ee103c1cb67b5bb38e3e0" />
        </fieldset>
    </form>
    <div class="stat-block online-list">
        <h3>Who is online</h3>
        <p>In total there are <strong>236</strong> users online :: 1 registered, 7 hidden and 228 guests (based on users active over the past 10 minutes)<br />Most users ever online was <strong>4642</strong> on 16 Jul 2024 05:36<br /></p>
    </div>
    <div class="stat-block statistics">
        <h3>Statistics</h3>
        <p>Total posts <strong>672360</strong> &bull; Total topics <strong>21220</strong> &bull; Total members <strong>13543</strong> &bull; Our newest member <strong><a href="./memberlist.php?mode=viewprofile&amp;u=17715&amp;sid=737e81ca3b461a841614ced308b629c6" class="username">donnacargo111</a></strong></p>
    </div>
</div>
{{ end }}