{{define "layout"}}
<!DOCTYPE html>
<html>
<!-- Ref: phpBB old: https://www.financialwisdomforum.org/forum/viewtopic.php?t=122828 -->
<!-- Ref: phpBB 3.3: https://github.com/phpbb/phpbb/blob/master/phpBB/styles/prosilver/template/overall_header.html -->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My Title</title>
    <link href="/styles/prosilver/theme/stylesheet.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .site_logo {
            background-image: url("/assets/images/fwf_logo.svg");
            width: 75px;
            height: 75px;
            background-size: contain;
        }
    </style>
</head>

<body id="phpbb" class="nojs notouch section-index ltr">
    <div id="wrap" class="wrap">
        <a id="top" class="top-anchor" accesskey="t"></a>

        <!-- Page header: Hero, Menu bar, Navigation breadcrumbs -->
        <div id="page-header">
            <div class="headerbar" role="banner">
                <div class="inner">
                    <div id="site-description" class="site-description">
                        <a id="logo" class="logo" href="/index" title="Board index">
                            <span class="site_logo"></span>
                        </a>
                        <h1>My Forum</h1>
                        <p>My Forum Description</p>
                        <p class="skiplink"><a href="#start_here">Skip to content</a></p>
                    </div>
                </div>
            </div>

            <div class="navbar" role="navigation">
                <div class="inner">
                    <ul id="nav-main" class="nav-main linklist" role="menubar">
                        <li id="quick-links" class="quick-links dropdown-container responsive-menu" data-skip-responsive="true">
                            <a href="#" class="dropdown-trigger">
                                <i class="icon fa-bars fa-fw" aria-hidden="true"></i><span>Quick links</span>
                            </a>
                            <div class="dropdown">
                                <div class="pointer">
                                    <div class="pointer-inner"></div>
                                </div>
                                <ul class="dropdown-contents" role="menu">
                                    <li class="separator"></li>
                                    <li>
                                        <a href="./search.php?search_id=unanswered" role="menuitem">
                                            <i class="icon fa-file-o fa-fw icon-gray" aria-hidden="true"></i><span>Unanswered topics</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./search.php?search_id=active_topics" role="menuitem">
                                            <i class="icon fa-file-o fa-fw icon-blue" aria-hidden="true"></i><span>Active topics</span>
                                        </a>
                                    </li>
                                    <li class="separator"></li>
                                </ul>
                            </div>
                        </li>
                        <li data-skip-responsive="true">
                            <a href="/forum/help/faq?sid=16b0d49d7062ba91d398d249acdd580f" rel="help" title="Frequently Asked Questions" role="menuitem">
                                <i class="icon fa-question-circle fa-fw" aria-hidden="true"></i><span>FAQ</span>
                            </a>
                        </li>
                        <li data-last-responsive="true">
                            <a href="/forum/rules?sid=16b0d49d7062ba91d398d249acdd580f" rel="help" title="View the Rules of this Board" role="menuitem">
                                <i class="icon fa-book fa-fw" aria-hidden="true"></i><span>Rules</span>
                            </a>
                        </li>
                        <li class="" data-last-responsive="true">
                            <a href="/forum/contactadmin?sid=16b0d49d7062ba91d398d249acdd580f" role="menuitem">
                                <i class="icon fa-envelope fa-fw" aria-hidden="true"></i><span>Contact us</span>
                            </a>
                        </li>
                        <li class="rightside" data-skip-responsive="true">
                            <a href="./ucp.php?mode=login&amp;redirect=viewtopic.php%3Ft%3D122828&amp;sid=16b0d49d7062ba91d398d249acdd580f" title="Login" accesskey="x" role="menuitem">
                                <i class="icon fa-power-off fa-fw" aria-hidden="true"></i><span>Login</span>
                            </a>
                        </li>
                        <li class="rightside" data-skip-responsive="true">
                            <a href="./ucp.php?mode=register&amp;sid=16b0d49d7062ba91d398d249acdd580f" role="menuitem">
                                <i class="icon fa-pencil-square-o  fa-fw" aria-hidden="true"></i><span>Register</span>
                            </a>
                        </li>
                    </ul>

                    <ul id="nav-breadcrumbs" class="nav-breadcrumbs linklist navlinks" role="menubar">
                        <li class="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">
                            <span class="crumb" itemtype="https://schema.org/ListItem" itemprop="itemListElement" itemscope><a itemprop="item" href="./index.php?sid=16b0d49d7062ba91d398d249acdd580f" accesskey="h" data-navbar-reference="index"><i class="icon fa-home fa-fw"></i><span itemprop="name">Board index</span></a>
                                <meta itemprop="position" content="1" />
                            </span>
                            <span class="crumb" itemtype="https://schema.org/ListItem" itemprop="itemListElement" itemscope data-forum-id="23"><a itemprop="item" href="./viewforum.php?f=23&amp;sid=16b0d49d7062ba91d398d249acdd580f"><span itemprop="name">... and Your Life</span></a>
                                <meta itemprop="position" content="2" />
                            </span>
                            <span class="crumb" itemtype="https://schema.org/ListItem" itemprop="itemListElement" itemscope data-forum-id="8"><a itemprop="item" href="./viewforum.php?f=8&amp;sid=16b0d49d7062ba91d398d249acdd580f"><span itemprop="name">Now Hear This!</span></a>
                                <meta itemprop="position" content="3" />
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Page body: Current time, Forums / Posts -->
        <a id="start_here" class="anchor"></a>
        <div id="page-body" class="page-body" role="main">
            <p class="right responsive-center time">It is currently 02 May 2025 03:08</p>

            <a class="category" id="category22" style="display: none; height: 0"></a>
            <div class="forabg">
                <div class="inner">
                    <ul class="topiclist">
                        <li class="header">
                            <dl class="row-item">
                                <dt>
                                    <div class="list-inner"><a href="./viewforum.php?f=22&amp;sid=737e81ca3b461a841614ced308b629c6">Your Money ...</a></div>
                                </dt>
                                <dd class="topics">Topics</dd>
                                <dd class="posts">Posts</dd>
                                <dd class="lastpost"><span>Last post</span></dd>
                            </dl>
                            <a href="/forum/collapse/fid_22?hash=93798400&amp;sid=737e81ca3b461a841614ced308b629c6" class="collapse-btn" data-hidden="" data-ajax="phpbb_collapse" data-overlay="true" data-title-alt="Show this forum category" title="Hide this forum category" style="display: none; line-height: 0;">
                                <i class="fa fa-minus-square"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="topiclist forums">
                        <li class="row">
                            <dl class="row-item forum_read">
                                <dt title="No unread posts">
                                    <div class="list-inner">
                                        <a href="./viewforum.php?f=29&amp;sid=737e81ca3b461a841614ced308b629c6" class="forumtitle">Financial Planning and Building Portfolios</a>
                                        <br />Asset allocation, risk, diversification and rebalancing. Pros/cons of hiring a financial advisor. <a href="//www.financialwisdomforum.org/forum/viewtopic.php?f=29&amp;t=116284" class="postlink">Seeking advice</a> on your portfolio?
                                        <div class="responsive-show" style="display: none;">
                                            Topics: <strong>3962</strong>
                                        </div>
                                    </div>
                                </dt>
                                <dd class="topics">3962 <dfn>Topics</dfn></dd>
                                <dd class="posts">88456 <dfn>Posts</dfn></dd>
                                <dd class="lastpost">
                                    <span>
                                        <dfn>Last post</dfn>
                                        <a href="./viewtopic.php?p=791831&amp;sid=737e81ca3b461a841614ced308b629c6#p791831" title="Re: investment plan" class="lastsubject">Re: investment plan</a> <br />
                                        by <a href="./memberlist.php?mode=viewprofile&amp;u=16353&amp;sid=737e81ca3b461a841614ced308b629c6" class="username">heckler</a> <a href="./viewtopic.php?p=791831&amp;sid=737e81ca3b461a841614ced308b629c6#p791831" title="View the latest post">
                                            <i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">View the latest post</span>
                                        </a>
                                        <br /><time datetime="2025-05-02T05:31:48+00:00">02 May 2025 01:31</time>
                                    </span>
                                </dd>
                            </dl>
                        </li>
                        <li class="row">
                            <dl class="row-item forum_read">
                                <dt title="No unread posts">
                                    <div class="list-inner">
                                        <a href="./viewforum.php?f=30&amp;sid=737e81ca3b461a841614ced308b629c6" class="forumtitle">Retirement, Pensions and Peace of Mind</a>
                                        <br />Preparing for life after work. RRSPs, RRIFs, TFSAs, annuities and meeting future financial and psychological needs.
                                        <div class="responsive-show" style="display: none;">
                                            Topics: <strong>1551</strong>
                                        </div>
                                    </div>
                                </dt>
                                <dd class="topics">1551 <dfn>Topics</dfn></dd>
                                <dd class="posts">44990 <dfn>Posts</dfn></dd>
                                <dd class="lastpost">
                                    <span>
                                        <dfn>Last post</dfn>
                                        <a href="./viewtopic.php?p=791642&amp;sid=737e81ca3b461a841614ced308b629c6#p791642" title="Re: Funded Ratio ( assets / PV of Future Liabilities)" class="lastsubject">Re: Funded Ratio ( assets / P…</a> <br />
                                        by <a href="./memberlist.php?mode=viewprofile&amp;u=15444&amp;sid=737e81ca3b461a841614ced308b629c6" class="username">Clueless_Expat</a> <a href="./viewtopic.php?p=791642&amp;sid=737e81ca3b461a841614ced308b629c6#p791642" title="View the latest post">
                                            <i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">View the latest post</span>
                                        </a>
                                        <br /><time datetime="2025-04-29T18:10:43+00:00">29 Apr 2025 14:10</time>
                                    </span>
                                </dd>
                            </dl>
                        </li>
                        <li class="row">
                            <dl class="row-item forum_read">
                                <dt title="No unread posts">
                                    <div class="list-inner">
                                        <a href="./viewforum.php?f=31&amp;sid=737e81ca3b461a841614ced308b629c6" class="forumtitle">Financial News, Policy and Economics</a>
                                        <br />Recommended reading, economic debates, predictions and opinions.
                                        <div class="responsive-show" style="display: none;">
                                            Topics: <strong>1326</strong>
                                        </div>
                                    </div>
                                </dt>
                                <dd class="topics">1326 <dfn>Topics</dfn></dd>
                                <dd class="posts">47762 <dfn>Posts</dfn></dd>
                                <dd class="lastpost">
                                    <span>
                                        <dfn>Last post</dfn>
                                        <a href="./viewtopic.php?p=791833&amp;sid=737e81ca3b461a841614ced308b629c6#p791833" title="Re: US Q1 GDP Contracts, Markets React – How Should Canadian Investors Respond?" class="lastsubject">Re: US Q1 GDP Contracts, Mark…</a> <br />
                                        by <a href="./memberlist.php?mode=viewprofile&amp;u=2250&amp;sid=737e81ca3b461a841614ced308b629c6" class="username">nisser</a> <a href="./viewtopic.php?p=791833&amp;sid=737e81ca3b461a841614ced308b629c6#p791833" title="View the latest post">
                                            <i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">View the latest post</span>
                                        </a>
                                        <br /><time datetime="2025-05-02T06:02:42+00:00">02 May 2025 02:02</time>
                                    </span>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>

            <a class="category" id="category23" style="display: none; height: 0"></a>
            <div class="forabg">
                <div class="inner">
                    <ul class="topiclist">
                        <li class="header">
                            <dl class="row-item">
                                <dt>
                                    <div class="list-inner"><a href="./viewforum.php?f=23&amp;sid=737e81ca3b461a841614ced308b629c6">... and Your Life</a></div>
                                </dt>
                                <dd class="topics">Topics</dd>
                                <dd class="posts">Posts</dd>
                                <dd class="lastpost"><span>Last post</span></dd>
                            </dl>
                            <a href="/forum/collapse/fid_23?hash=b4f1742a&amp;sid=737e81ca3b461a841614ced308b629c6" class="collapse-btn" data-hidden="" data-ajax="phpbb_collapse" data-overlay="true" data-title-alt="Show this forum category" title="Hide this forum category" style="display: none; line-height: 0;">
                                <i class="fa fa-minus-square"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="topiclist forums">
                        <li class="row">
                            <dl class="row-item forum_read">
                                <dt title="No unread posts">
                                    <div class="list-inner">
                                        <a href="./viewforum.php?f=27&amp;sid=737e81ca3b461a841614ced308b629c6" class="forumtitle">Community Centre</a>
                                        <br />Non financial topics: autos; computers; entertainment; gatherings; hobbies; sports and travel.
                                        <div class="responsive-show" style="display: none;">
                                            Topics: <strong>1571</strong>
                                        </div>
                                    </div>
                                </dt>
                                <dd class="topics">1571 <dfn>Topics</dfn></dd>
                                <dd class="posts">68506 <dfn>Posts</dfn></dd>
                                <dd class="lastpost">
                                    <span>
                                        <dfn>Last post</dfn>
                                        <a href="./viewtopic.php?p=791823&amp;sid=737e81ca3b461a841614ced308b629c6#p791823" title="Re: Self-Driving Cars ... When?" class="lastsubject">Re: Self-Driving Cars ... Whe…</a> <br />
                                        by <a href="./memberlist.php?mode=viewprofile&amp;u=73&amp;sid=737e81ca3b461a841614ced308b629c6" class="username">brucecohen</a> <a href="./viewtopic.php?p=791823&amp;sid=737e81ca3b461a841614ced308b629c6#p791823" title="View the latest post">
                                            <i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">View the latest post</span>
                                        </a>
                                        <br /><time datetime="2025-05-02T02:06:14+00:00">01 May 2025 22:06</time>
                                    </span>
                                </dd>
                            </dl>
                        </li>
                        <li class="row">
                            <dl class="row-item forum_read">
                                <dt title="No unread posts">
                                    <div class="list-inner">
                                        <a href="./viewforum.php?f=8&amp;sid=737e81ca3b461a841614ced308b629c6" class="forumtitle">Now Hear This!</a>
                                        <br />Announcements from the Management and assistance with forum software. New to FWF? Please consider <a href="//www.financialwisdomforum.org/forum/viewtopic.php?f=8&amp;t=13" class="postlink">introducing yourself</a>
                                        <div class="responsive-show" style="display: none;">
                                            Topics: <strong>370</strong>
                                        </div>
                                    </div>
                                </dt>
                                <dd class="topics">370 <dfn>Topics</dfn></dd>
                                <dd class="posts">7165 <dfn>Posts</dfn></dd>
                                <dd class="lastpost">
                                    <span>
                                        <dfn>Last post</dfn>
                                        <a href="./viewtopic.php?p=789872&amp;sid=737e81ca3b461a841614ced308b629c6#p789872" title="Re: ⚠️ Maintenance alert" class="lastsubject">Re: ⚠️ Maintenance alert</a> <br />
                                        by <a href="./memberlist.php?mode=viewprofile&amp;u=636&amp;sid=737e81ca3b461a841614ced308b629c6" class="username">Peculiar_Investor</a> <a href="./viewtopic.php?p=789872&amp;sid=737e81ca3b461a841614ced308b629c6#p789872" title="View the latest post">
                                            <i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">View the latest post</span>
                                        </a>
                                        <br /><time datetime="2025-04-02T23:08:02+00:00">02 Apr 2025 19:08</time>
                                    </span>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Login, Register, Who is online, Statistics -->
            <form method="post" action="./ucp.php?mode=login&amp;sid=737e81ca3b461a841614ced308b629c6" class="headerspace">
                <h3>
                    <a href="./ucp.php?mode=login&amp;redirect=index.php&amp;sid=737e81ca3b461a841614ced308b629c6">Login</a>&nbsp; &bull; &nbsp;<a href="./ucp.php?mode=register&amp;sid=737e81ca3b461a841614ced308b629c6">Register</a>
                </h3>
                <fieldset class="quick-login">
                    <label for="username"><span>Username:</span> <input type="text" tabindex="1" name="username" id="username" size="10" class="inputbox" title="Username" autocomplete="username" /></label>
                    <label for="password"><span>Password:</span> <input type="password" tabindex="2" name="password" id="password" size="10" class="inputbox" title="Password" autocomplete="current-password" /></label>
                    <a href="/forum/user/forgot_password?sid=737e81ca3b461a841614ced308b629c6">I forgot my password</a>
                    <span class="responsive-hide">|</span> <label for="autologin">Remember me <input type="checkbox" tabindex="4" name="autologin" id="autologin" /></label>
                    <input type="submit" tabindex="5" name="login" value="Login" class="button2" />
                    <input type="hidden" name="redirect" value="./index.php?sid=737e81ca3b461a841614ced308b629c6" />
                    <input type="hidden" name="creation_time" value="1746169723" />
                    <input type="hidden" name="form_token" value="a3d9a8471f9010931c7ee103c1cb67b5bb38e3e0" />
                </fieldset>
            </form>
            <div class="stat-block online-list">
                <h3>Who is online</h3>
                <p>In total there are <strong>236</strong> users online :: 1 registered, 7 hidden and 228 guests (based on users active over the past 10 minutes)<br />Most users ever online was <strong>4642</strong> on 16 Jul 2024 05:36<br /></p>
            </div>
            <div class="stat-block statistics">
                <h3>Statistics</h3>
                <p>Total posts <strong>672360</strong> &bull; Total topics <strong>21220</strong> &bull; Total members <strong>13543</strong> &bull; Our newest member <strong><a href="./memberlist.php?mode=viewprofile&amp;u=17715&amp;sid=737e81ca3b461a841614ced308b629c6" class="username">donnacargo111</a></strong></p>
            </div>
        </div>

        <!-- Page footer: Board index, Contact us, Timezone -->
        <div id="page-footer" class="page-footer" role="contentinfo">
            <div class="navbar" role="navigation">
                <div class="inner">
                    <ul id="nav-footer" class="nav-footer linklist" role="menubar">
                        <li class="breadcrumbs">
                            <span class="crumb">
                                <a href="./index.php?sid=737e81ca3b461a841614ced308b629c6" data-navbar-reference="index">
                                    <i class="icon fa-home fa-fw" aria-hidden="true"></i>
                                    <span>Board index</span>
                                </a>
                            </span>
                        </li>
                        <li class="rightside">All times are <span title="America/Toronto">UTC-04:00</span></li>
                        <li class="rightside">
                            <a href="/forum/user/delete_cookies?sid=737e81ca3b461a841614ced308b629c6" data-ajax="true" data-refresh="true" role="menuitem">
                                <i class="icon fa-trash fa-fw" aria-hidden="true"></i><span>Delete cookies</span>
                            </a>
                        </li>
                        <li class="rightside" data-last-responsive="true">
                            <a href="/forum/contactadmin?sid=737e81ca3b461a841614ced308b629c6" role="menuitem">
                                <i class="icon fa-envelope fa-fw" aria-hidden="true"></i><span>Contact us</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="copyright">
                <p class="footer-row">
                    <span class="footer-copyright">Powered by <a href="https://www.phpbb.com/">phpBB</a>&reg; Forum Software &copy; phpBB Limited</span>
                </p>
                <p class="footer-row" role="menu">
                    <a class="footer-link" href="./ucp.php?mode=privacy&amp;sid=737e81ca3b461a841614ced308b629c6" title="Privacy" role="menuitem">
                        <span class="footer-link-text">Privacy</span>
                    </a>
                    |
                    <a class="footer-link" href="./ucp.php?mode=terms&amp;sid=737e81ca3b461a841614ced308b629c6" title="Terms" role="menuitem">
                        <span class="footer-link-text">Terms</span>
                    </a>
                </p>
            </div>
            <div id="darkenwrapper" class="darkenwrapper" data-ajax-error-title="AJAX error" data-ajax-error-text="Something went wrong when processing your request." data-ajax-error-text-abort="User aborted request." data-ajax-error-text-timeout="Your request timed out; please try again." data-ajax-error-text-parsererror="Something went wrong with the request and the server returned an invalid reply.">
                <div id="darken" class="darken">&nbsp;</div>
            </div>
            <div id="phpbb_alert" class="phpbb_alert" data-l-err="Error" data-l-timeout-processing-req="Request timed out.">
                <a href="#" class="alert_close">
                    <i class="icon fa-times-circle fa-fw" aria-hidden="true"></i>
                </a>
                <h3 class="alert_title">&nbsp;</h3>
                <p class="alert_text"></p>
            </div>
            <div id="phpbb_confirm" class="phpbb_alert">
                <a href="#" class="alert_close">
                    <i class="icon fa-times-circle fa-fw" aria-hidden="true"></i>
                </a>
                <div class="alert_text"></div>
            </div>
        </div>
    </div>
    <div>
        <a id="bottom" class="anchor" accesskey="z"></a>
    </div>
</body>

</html>
{{end}}