{{ define "overall" }}
{{ $root := . }}
<!DOCTYPE html>
<html>
<!-- Ref: phpBB old: https://www.financialwisdomforum.org/forum/viewtopic.php?t=122828 -->
<!-- Ref: phpBB 3.3: https://github.com/phpbb/phpbb/blob/master/phpBB/styles/prosilver/template/overall_header.html -->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My Title</title>
    <link href="/styles/prosilver/theme/stylesheet.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .site_logo {
            background-image: url("/assets/images/fwf_logo.svg");
            width: 75px;
            height: 75px;
            background-size: contain;
        }
    </style>
</head>

<body id="phpbb" class="nojs notouch section-index ltr">
    <div id="wrap" class="wrap">
        <a id="top" class="top-anchor" accesskey="t"></a>

        <!-- Page header: Hero, Menu bar, Navigation breadcrumbs -->
        <div id="page-header">
            <div class="headerbar" role="banner">
                <div class="inner">
                    <div id="site-description" class="site-description">
                        <a id="logo" class="logo" href="/index" title="Board index">
                            <span class="site_logo"></span>
                        </a>
                        <h1>My Forum</h1>
                        <p>My Forum Description</p>
                        <p class="skiplink"><a href="#start_here">Skip to content</a></p>
                    </div>
                </div>
            </div>

            <div class="navbar" role="navigation">
                <div class="inner">
                    <ul id="nav-main" class="nav-main linklist" role="menubar">
                        <li id="quick-links" class="quick-links dropdown-container responsive-menu" data-skip-responsive="true">
                            <a href="#" class="dropdown-trigger">
                                <i class="icon fa-bars fa-fw" aria-hidden="true"></i><span>Quick links</span>
                            </a>
                            <div class="dropdown">
                                <div class="pointer">
                                    <div class="pointer-inner"></div>
                                </div>
                                <ul class="dropdown-contents" role="menu">
                                    <li class="separator"></li>
                                    <li>
                                        <a href="./search.php?search_id=unanswered" role="menuitem">
                                            <i class="icon fa-file-o fa-fw icon-gray" aria-hidden="true"></i><span>Unanswered topics</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./search.php?search_id=active_topics" role="menuitem">
                                            <i class="icon fa-file-o fa-fw icon-blue" aria-hidden="true"></i><span>Active topics</span>
                                        </a>
                                    </li>
                                    <li class="separator"></li>
                                </ul>
                            </div>
                        </li>
                        <li data-skip-responsive="true">
                            <a href="/forum/help/faq?sid=16b0d49d7062ba91d398d249acdd580f" rel="help" title="Frequently Asked Questions" role="menuitem">
                                <i class="icon fa-question-circle fa-fw" aria-hidden="true"></i><span>FAQ</span>
                            </a>
                        </li>
                        <li data-last-responsive="true">
                            <a href="/forum/rules?sid=16b0d49d7062ba91d398d249acdd580f" rel="help" title="View the Rules of this Board" role="menuitem">
                                <i class="icon fa-book fa-fw" aria-hidden="true"></i><span>Rules</span>
                            </a>
                        </li>
                        <li class="" data-last-responsive="true">
                            <a href="/forum/contactadmin?sid=16b0d49d7062ba91d398d249acdd580f" role="menuitem">
                                <i class="icon fa-envelope fa-fw" aria-hidden="true"></i><span>Contact us</span>
                            </a>
                        </li>
                        <li class="rightside" data-skip-responsive="true">
                            <a href="./ucp.php?mode=login&amp;redirect=viewtopic.php%3Ft%3D122828&amp;sid=16b0d49d7062ba91d398d249acdd580f" title="Login" accesskey="x" role="menuitem">
                                <i class="icon fa-power-off fa-fw" aria-hidden="true"></i><span>Login</span>
                            </a>
                        </li>
                        <li class="rightside" data-skip-responsive="true">
                            <a href="./ucp.php?mode=register&amp;sid=16b0d49d7062ba91d398d249acdd580f" role="menuitem">
                                <i class="icon fa-pencil-square-o  fa-fw" aria-hidden="true"></i><span>Register</span>
                            </a>
                        </li>
                    </ul>

                    <ul id="nav-breadcrumbs" class="nav-breadcrumbs linklist navlinks" role="menubar">
                        <li class="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">
                            <span class="crumb" itemtype="https://schema.org/ListItem" itemprop="itemListElement" itemscope><a itemprop="item" href="./forums" accesskey="h" data-navbar-reference="index"><i class="icon fa-home fa-fw"></i><span itemprop="name">Board index</span></a>
                                <meta itemprop="position" content="1" />
                            </span>
                            {{ $forumNavCounter := 2 }}
                            {{ range $forumNavTrail := $root.ForumNavTrails }}
                            <span class="crumb" itemtype="https://schema.org/ListItem" itemprop="itemListElement" itemscope data-forum-id="{{ $forumNavTrail.Forum.ForumId }}">
                                {{ if $forumNavTrail.IsLeaf }}
                                <a itemprop="item" href="./topics?f={{ $forumNavTrail.Forum.ForumId }}"><span itemprop="name">{{ $forumNavTrail.Forum.ForumName }} </span></a>
                                {{ else }}
                                <a itemprop="item" href="./forums?f={{ $forumNavTrail.Forum.ForumId }}"><span itemprop="name">{{ $forumNavTrail.Forum.ForumName }} </span></a>
                                {{ end }}
                                <meta itemprop="position" content="{{ $forumNavCounter }}" />
                            </span>
                            {{ $forumNavCounter = fnAdd $forumNavCounter 1 }}
                            {{ end }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <a id="start_here" class="anchor"></a>
        {{ template "body" . }}

        <!-- Page footer: Board index, Contact us, Timezone -->
        <div id="page-footer" class="page-footer" role="contentinfo">
            <div class="navbar" role="navigation">
                <div class="inner">
                    <ul id="nav-footer" class="nav-footer linklist" role="menubar">
                        <li class="breadcrumbs">
                            <span class="crumb">
                                <a href="./index.php?sid=737e81ca3b461a841614ced308b629c6" data-navbar-reference="index">
                                    <i class="icon fa-home fa-fw" aria-hidden="true"></i>
                                    <span>Board index</span>
                                </a>
                            </span>
                        </li>
                        <li class="rightside">All times are <span title="America/Toronto">UTC-04:00</span></li>
                        <li class="rightside">
                            <a href="/forum/user/delete_cookies?sid=737e81ca3b461a841614ced308b629c6" data-ajax="true" data-refresh="true" role="menuitem">
                                <i class="icon fa-trash fa-fw" aria-hidden="true"></i><span>Delete cookies</span>
                            </a>
                        </li>
                        <li class="rightside" data-last-responsive="true">
                            <a href="/forum/contactadmin?sid=737e81ca3b461a841614ced308b629c6" role="menuitem">
                                <i class="icon fa-envelope fa-fw" aria-hidden="true"></i><span>Contact us</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="copyright">
                <p class="footer-row">
                    <span class="footer-copyright">Powered by <a href="https://www.phpbb.com/">phpBB</a>&reg; Forum Software &copy; phpBB Limited</span>
                </p>
                <p class="footer-row" role="menu">
                    <a class="footer-link" href="./ucp.php?mode=privacy&amp;sid=737e81ca3b461a841614ced308b629c6" title="Privacy" role="menuitem">
                        <span class="footer-link-text">Privacy</span>
                    </a>
                    |
                    <a class="footer-link" href="./ucp.php?mode=terms&amp;sid=737e81ca3b461a841614ced308b629c6" title="Terms" role="menuitem">
                        <span class="footer-link-text">Terms</span>
                    </a>
                </p>
            </div>
            <div id="darkenwrapper" class="darkenwrapper" data-ajax-error-title="AJAX error" data-ajax-error-text="Something went wrong when processing your request." data-ajax-error-text-abort="User aborted request." data-ajax-error-text-timeout="Your request timed out; please try again." data-ajax-error-text-parsererror="Something went wrong with the request and the server returned an invalid reply.">
                <div id="darken" class="darken">&nbsp;</div>
            </div>
            <div id="phpbb_alert" class="phpbb_alert" data-l-err="Error" data-l-timeout-processing-req="Request timed out.">
                <a href="#" class="alert_close">
                    <i class="icon fa-times-circle fa-fw" aria-hidden="true"></i>
                </a>
                <h3 class="alert_title">&nbsp;</h3>
                <p class="alert_text"></p>
            </div>
            <div id="phpbb_confirm" class="phpbb_alert">
                <a href="#" class="alert_close">
                    <i class="icon fa-times-circle fa-fw" aria-hidden="true"></i>
                </a>
                <div class="alert_text"></div>
            </div>
        </div>
    </div>
    <div>
        <a id="bottom" class="anchor" accesskey="z"></a>
    </div>
</body>

</html>
{{ end }}