{{ define "body" }}
<div id="page-body" class="page-body" role="main">

    <!-- Topic title -->
    <h2 class="topic-title"><a href="./viewtopic.php?t=122828&amp;sid=16b0d49d7062ba91d398d249acdd580f">We're now powered by phpBB 3.3</a></h2>

    <div class="action-bar bar-top">
        <a href="./posting.php?mode=reply&amp;t=122828&amp;sid=16b0d49d7062ba91d398d249acdd580f" class="button" title="Post a reply">
            <span>Post Reply</span> <i class="icon fa-reply fa-fw" aria-hidden="true"></i>
        </a>
        <div class="pagination">
            18 posts
            &bull; Page <strong>1</strong> of <strong>1</strong>
        </div>
    </div>

    {{ range $.Posts }}
    <!-- Post {{ .PostId }} -->
    <div id="p{{ .PostId }}" class="post has-profile bg2">
        <div class="inner">
            <dl class="postprofile" id="profile{{ .PostId }}">
                <dt class="has-profile-rank has-avatar">
                    <div class="avatar-container">
                        <a href="./memberlist.php?mode=viewprofile&amp;u=636&amp;sid=16b0d49d7062ba91d398d249acdd580f" class="avatar"><img class="avatar" src="./download/file.php?avatar=636_1735827993.jpg" width="100" height="100" alt="User avatar" /></a>
                    </div>
                    <a href="./memberlist.php?mode=viewprofile&amp;u=636&amp;sid=16b0d49d7062ba91d398d249acdd580f" class="username">Peculiar_Investor</a>
                </dt>
                <dd class="profile-rank">Administrator<br /><img src="./images/ranks/modern-ranks/administrator.png" alt="Administrator" title="Administrator" /></dd>
                <dd class="profile-posts"><strong>Posts:</strong> <a href="./search.php?author_id=636&amp;sr=posts&amp;sid=16b0d49d7062ba91d398d249acdd580f">14141</a></dd>
                <dd class="profile-joined"><strong>Joined:</strong> 01 Mar 2005 14:52</dd>
            </dl>
            <div class="postbody">
                <div id="post_content{{ .PostId }}">
                    <h3 class="first">
                        <a href="./viewtopic.php?p={{ .PostId }}&amp;sid=16b0d49d7062ba91d398d249acdd580f#p{{ .PostId }}">{{ .PostSubject }}</a>
                    </h3>
                    <ul class="post-buttons">
                        <li>
                            <a href="./posting.php?mode=quote&amp;p={{ .PostId }}&amp;sid=16b0d49d7062ba91d398d249acdd580f" title="Reply with quote" class="button button-icon-only">
                                <i class="icon fa-quote-left fa-fw" aria-hidden="true"></i><span class="sr-only">Quote</span>
                            </a>
                        </li>
                        <li>
                            <a data-post-id="{{ .PostId }}" title="Select to quote multiple posts" class="button button-icon-only multiquote" onclick="multiquote(this)">
                                <i class="icon fa-comments fa-fw" aria-hidden="true"></i><span class="sr-only">Quote</span>
                            </a>
                        </li>
                    </ul>
                    <p class="author">
                        <a class="unread" href="./viewtopic.php?p={{ .PostId }}&amp;sid=16b0d49d7062ba91d398d249acdd580f#p{{ .PostId }}" title="Post">
                            <i class="icon fa-file fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">Post</span>
                        </a>
                        <span class="responsive-hide">by <strong><a href="./memberlist.php?mode=viewprofile&amp;u=636&amp;sid=16b0d49d7062ba91d398d249acdd580f" class="username">Peculiar_Investor</a></strong> &raquo; </span><time>{{ .PostTime | fnUnixTimeToStr }}</time>
                    </p>
                    <span class="hide postdetails" data-quote-url="./posting.php?mode=quote&amp;p={{ .PostId }}&amp;sid=16b0d49d7062ba91d398d249acdd580f" data-posttime="{{ .PostTime }}" data-poster-id="636" data-poster-name="Peculiar_Investor"></span>
                    <div class="content">
                        {{ .PostText | fnBbcodeToHtml }}
                    </div>
                    <div id="sig{{ .PostId }}" class="signature"><a href="//www.finiki.org/wiki/Main_Page" class="postlink"><img src="//www.financialwisdomforum.org/forum/images/icons/icon_wiki.svg" alt="finiki logo" width="17" height="17">
                            finiki, the Canadian financial wiki
                        </a> New editors wanted and welcomed, please help collaborate and improve the wiki.<br>
                        <br>
                        "Normal people… believe that if it ain’t broke, don’t fix it. Engineers believe that if it ain’t broke, it doesn’t have enough features yet." – Scott Adams
                    </div>
                </div>
            </div>
            <div class="back2top">
                <a href="#top" class="top" title="Top">
                    <i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i>
                    <span class="sr-only">Top</span>
                </a>
            </div>
        </div>
    </div>
    {{ end }}

    <!-- Bottom bar -->
    <div class="action-bar bar-bottom">
        <a href="./posting.php?mode=reply&amp;t=122828&amp;sid=16b0d49d7062ba91d398d249acdd580f" class="button" title="Post a reply">
            <span>Post Reply</span> <i class="icon fa-reply fa-fw" aria-hidden="true"></i>
        </a>
        <div class="pagination">
            18 posts
            &bull; Page <strong>1</strong> of <strong>1</strong>
        </div>
    </div>

    <div class="action-bar actions-jump">
        <p class="jumpbox-return">
            <a href="./viewforum.php?f=8&amp;sid=16b0d49d7062ba91d398d249acdd580f" class="left-box arrow-left" accesskey="r">
                <i class="icon fa-angle-left fa-fw icon-black" aria-hidden="true"></i><span>Return to "Now Hear This!"</span>
            </a>
        </p>
    </div>
</div>
{{ end }}