{{ define "body" }}
{{ $root := . }}
<div id="page-body" class="page-body" role="main">

    <!-- Topic title -->
    {{ $topic := $root.Topic }}
    <h2 class="topic-title"><a href='{{ fnUrlWithSID (printf "./posts?t=%d" $topic.TopicId) $root.Session.SessionId }}'>{{ $topic.TopicTitle }}</a></h2>

    <div class="action-bar bar-top">
        <a href='{{ fnUrlWithSID (printf "./post_write?t=%d" $topic.TopicId) $root.Session.SessionId }}' class="button" title="Post a reply">
            <span>Post Reply</span> <i class="icon fa-reply fa-fw" aria-hidden="true"></i>
        </a>
        <div class="pagination">
            {{ $topic.TopicNumPosts }} posts
            {{ if gt (len $root.Paginations) 1 }}
            <ul>
                {{ range $pagination := $root.Paginations }}
                {{ if eq $pagination.PaginationType "PaginationTypeArrowPrevious" }}
                <li class="arrow previous"><a class="button button-icon-only" href='{{ fnUrlWithSID (printf "./posts?t=%d&start=%d" $topic.TopicId $pagination.StartItem) $root.Session.SessionId }}' rel="prev" role="button"><i class="icon fa-chevron-left fa-fw" aria-hidden="true"></i><span class="sr-only">Previous</span></a></li>
                {{ else if eq $pagination.PaginationType "PaginationTypePage" }}
                <li><a class="button" href='{{ fnUrlWithSID (printf "./posts?t=%d&start=%d" $topic.TopicId $pagination.StartItem) $root.Session.SessionId }}' role="button">{{ $pagination.PageNumber }}</a></li>
                {{ else if eq $pagination.PaginationType "PaginationTypeCurrentPage" }}
                <li class="active"><span>{{ $pagination.PageNumber }}</span></li>
                {{ else if eq $pagination.PaginationType "PaginationTypeSeparator" }}
                <li class="ellipsis" role="separator"><span>…</span></li>
                {{ else if eq $pagination.PaginationType "PaginationTypeArrowNext" }}
                <li class="arrow next"><a class="button button-icon-only" href='{{ fnUrlWithSID (printf "./posts?t=%d&start=%d" $topic.TopicId $pagination.StartItem) $root.Session.SessionId }}' rel="next" role="button"><i class="icon fa-chevron-right fa-fw" aria-hidden="true"></i><span class="sr-only">Next</span></a></li>
                {{ end }}
                {{ end }}
            </ul>
            {{ else }}
            &bull; Page <strong>1</strong> of <strong>1</strong>
            {{ end }}
        </div>
    </div>

    {{ range $post := $root.Posts }}
    {{ $user := index $root.UsersMap $post.PostUserId }}
    <!-- Post {{ $post.PostId }} -->
    <div id="p{{ $post.PostId }}" class="post has-profile bg2">
        <div class="inner">
            <dl class="postprofile" id="profile{{ $post.PostId }}">
                <dt class="has-profile-rank has-avatar">
                    <div class="avatar-container">
                        <a href="./memberlist.php?mode=viewprofile&amp;u={{ $user.UserId }}&amp;sid=16b0d49d7062ba91d398d249acdd580f" class="avatar"><img class="avatar" src="./download/file.php?avatar={{ $user.UserId }}_1735827993.jpg" width="100" height="100" alt="User avatar" /></a>
                    </div>
                    <a href="./memberlist.php?mode=viewprofile&amp;u={{ $user.UserId }}&amp;sid=16b0d49d7062ba91d398d249acdd580f" class="username">{{ $user.UserName }}</a>
                </dt>
                <dd class="profile-rank">{{ $user.UserTypeName }}<br /><img src="{{ $user.UserTypeImg }}" alt="{{ $user.UserTypeName }}" title="{{ $user.UserTypeName }}" /></dd>
                <dd class="profile-posts"><strong>Posts:</strong> <a href="./search.php?author_id={{ $user.UserId }}&amp;sr=posts&amp;sid=16b0d49d7062ba91d398d249acdd580f">{{ $user.UserNumPosts }}</a></dd>
                <dd class="profile-joined"><strong>Joined:</strong> {{ $user.UserRegTime | fnUnixTimeToStr }} </dd>
            </dl>
            <div class="postbody">
                <div id="post_content{{ $post.PostId }}">
                    <h3 class="first">
                        <a href='{{ fnUrlWithSID (printf "./posts?p=%d#p%d" $post.PostId $post.PostId) $root.Session.SessionId }}'>{{ $post.PostSubject }}</a>
                    </h3>
                    <ul class="post-buttons">
                        <li>
                            <a href='{{ fnUrlWithSID (printf "./post_write?mode=quote&p=%d" $post.PostId) $root.Session.SessionId }}' title="Reply with quote" class="button button-icon-only">
                                <i class="icon fa-quote-left fa-fw" aria-hidden="true"></i><span class="sr-only">Quote</span>
                            </a>
                        </li>
                        <li>
                            <a data-post-id="{{ $post.PostId }}" title="Select to quote multiple posts" class="button button-icon-only multiquote" onclick="multiquote(this)">
                                <i class="icon fa-comments fa-fw" aria-hidden="true"></i><span class="sr-only">Quote</span>
                            </a>
                        </li>
                    </ul>
                    <p class="author">
                        <a class="unread" href='{{ fnUrlWithSID (printf "./posts?p=%d#p%d" $post.PostId $post.PostId) $root.Session.SessionId }}' title="Post">
                            <i class="icon fa-file fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">Post</span>
                        </a>
                        <span class="responsive-hide">by <strong><a href="./memberlist.php?mode=viewprofile&amp;u={{ $user.UserId }}&amp;sid=16b0d49d7062ba91d398d249acdd580f" class="username">{{ $user.UserName }}</a></strong> &raquo; </span><time>{{ $post.PostTime | fnUnixTimeToStr }}</time>
                    </p>
                    <span class="hide postdetails" data-quote-url='{{ fnUrlWithSID (printf "./post_write?mode=quote&p=%d" $post.PostId) $root.Session.SessionId }}' data-posttime="{{ $post.PostTime }}" data-poster-id="{{ $user.UserId }}" data-poster-name="{{ $user.UserName }}"></span>
                    <div class="content">
                        {{ $post.PostText | fnBbcodeToHtml }}
                    </div>
                    {{ if ne $user.UserSig "" }}
                    <div id="sig{{ $post.PostId }}" class="signature">
                        {{ $user.UserSig | fnBbcodeToHtml }}
                    </div>
                    {{ end }}
                </div>
            </div>
            <div class="back2top">
                <a href="#top" class="top" title="Top">
                    <i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i>
                    <span class="sr-only">Top</span>
                </a>
            </div>
        </div>
    </div>
    {{ end }}

    <!-- Bottom bar -->
    <div class="action-bar bar-bottom">
        <a href='{{ fnUrlWithSID (printf "./post_write?t=%d" $topic.TopicId) $root.Session.SessionId }}' class="button" title="Post a reply">
            <span>Post Reply</span> <i class="icon fa-reply fa-fw" aria-hidden="true"></i>
        </a>
        <div class="pagination">
            {{ $topic.TopicNumPosts }} posts
            {{ if gt (len $root.Paginations) 1 }}
            <ul>
                {{ range $pagination := $root.Paginations }}
                {{ if eq $pagination.PaginationType "PaginationTypeArrowPrevious" }}
                <li class="arrow previous"><a class="button button-icon-only" href='{{ fnUrlWithSID (printf "./posts?t=%d&start=%d" $topic.TopicId $pagination.StartItem) $root.Session.SessionId }}' rel="prev" role="button"><i class="icon fa-chevron-left fa-fw" aria-hidden="true"></i><span class="sr-only">Previous</span></a></li>
                {{ else if eq $pagination.PaginationType "PaginationTypePage" }}
                <li><a class="button" href='{{ fnUrlWithSID (printf "./posts?t=%d&start=%d" $topic.TopicId $pagination.StartItem) $root.Session.SessionId }}' role="button">{{ $pagination.PageNumber }}</a></li>
                {{ else if eq $pagination.PaginationType "PaginationTypeCurrentPage" }}
                <li class="active"><span>{{ $pagination.PageNumber }}</span></li>
                {{ else if eq $pagination.PaginationType "PaginationTypeSeparator" }}
                <li class="ellipsis" role="separator"><span>…</span></li>
                {{ else if eq $pagination.PaginationType "PaginationTypeArrowNext" }}
                <li class="arrow next"><a class="button button-icon-only" href='{{ fnUrlWithSID (printf "./posts?t=%d&start=%d" $topic.TopicId $pagination.StartItem) $root.Session.SessionId }}' rel="next" role="button"><i class="icon fa-chevron-right fa-fw" aria-hidden="true"></i><span class="sr-only">Next</span></a></li>
                {{ end }}
                {{ end }}
            </ul>
            {{ else }}
            &bull; Page <strong>1</strong> of <strong>1</strong>
            {{ end }}
        </div>
    </div>

    <div class="action-bar actions-jump">
        <p class="jumpbox-return">
            {{ $forum := $root.Forum }}
            <a href='{{ fnUrlWithSID (printf "./topics?f=%d" $forum.ForumId) $root.Session.SessionId }}' class="left-box arrow-left" accesskey="r">
                <i class="icon fa-angle-left fa-fw icon-black" aria-hidden="true"></i><span>Return to "{{ $forum.ForumName }}"</span>
            </a>
        </p>
    </div>
</div>
{{ end }}