{{ define "body" }}
{{ $root := . }}
<div id="page-body" class="page-body" role="main">

    <!-- Forum title -->
    {{ $forum := $root.Forum }}
    <h2 class="forum-title"><a href="./topics?f={{ $forum.ForumId }}">{{ $forum.ForumName }}</a></h2>
    <div>
        <!-- NOTE: remove the style="display: none" when you want to have the forum description on the forum body -->
        <div style="display: none !important;">Discuss your favourite picks, broker, and trading or investment style.<br /></div>
    </div>

    <div class="action-bar bar-top">
        <a href="./posting.php?mode=post&amp;f={{ $forum.ForumId }}&amp;sid=c751fd3e575b0a5b4384fb4bb359f983" class="button" title="Post a new topic">
            <span>New Topic</span> <i class="icon fa-pencil fa-fw" aria-hidden="true"></i>
        </a>
        <div class="pagination">
            4742 topics
            <ul>
                <li class="dropdown-container dropdown-button-control dropdown-page-jump page-jump">
                    <a class="button button-icon-only dropdown-trigger" href="#" title="Click to jump to page…" role="button"><i class="icon fa-level-down fa-rotate-270" aria-hidden="true"></i><span class="sr-only">Page <strong>1</strong> of <strong>95</strong></span></a>
                    <div class="dropdown">
                        <div class="pointer">
                            <div class="pointer-inner"></div>
                        </div>
                        <ul class="dropdown-contents">
                            <li>Jump to page:</li>
                            <li class="page-jump-form">
                                <input type="number" name="page-number" min="1" max="999999" title="Enter the page number you wish to go to" class="inputbox tiny" data-per-page="50" data-base-url=".&#x2F;viewforum.php&#x3F;f&#x3D;{{ $forum.ForumId }}&amp;amp&#x3B;sid&#x3D;c751fd3e575b0a5b4384fb4bb359f983" data-start-name="start" />
                                <input class="button2" value="Go" type="button" />
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="active"><span>1</span></li>
                <li><a class="button" href="./topics?f={{ $forum.ForumId }}&amp;start=50" role="button">2</a></li>
                <li><a class="button" href="./topics?f={{ $forum.ForumId }}&amp;start=100" role="button">3</a></li>
                <li><a class="button" href="./topics?f={{ $forum.ForumId }}&amp;start=150" role="button">4</a></li>
                <li><a class="button" href="./topics?f={{ $forum.ForumId }}&amp;start=200" role="button">5</a></li>
                <li class="ellipsis" role="separator"><span>…</span></li>
                <li><a class="button" href="./topics?f={{ $forum.ForumId }}&amp;start=4700" role="button">95</a></li>
                <li class="arrow next"><a class="button button-icon-only" href="./topics?f={{ $forum.ForumId }}&amp;start=50" rel="next" role="button"><i class="icon fa-chevron-right fa-fw" aria-hidden="true"></i><span class="sr-only">Next</span></a></li>
            </ul>
        </div>
    </div>

    <div class="forumbg">
        <div class="inner">
            <ul class="topiclist">
                <li class="header">
                    <dl class="row-item">
                        <dt>
                            <div class="list-inner">Topics</div>
                        </dt>
                        <dd class="posts">Replies</dd>
                        <dd class="views">Views</dd>
                        <dd class="lastpost"><span>Last post</span></dd>
                    </dl>
                </li>
            </ul>
            <ul class="topiclist topics">

                {{ range $topicsWithInfo := $root.TopicsWithInfo }}
                {{ $topic := $topicsWithInfo.Topic }}
                <!-- Topic $topic.TopicId -->
                <li class="row bg2">
                    <!-- dl class="row-item topic_read_hot" -->
                    <dl class="row-item topic_read">
                        <dt title="No unread posts">
                            <div class="list-inner">
                                <a href="./posts?t={{ $topic.TopicId }}" class="topictitle">{{ $topic.TopicTitle }}</a> <br />
                                <div class="topic-poster responsive-hide left-box">
                                    by <a href="./memberlist.php?mode=viewprofile&amp;u=462&amp;sid=c751fd3e575b0a5b4384fb4bb359f983" class="username">fundamental</a> &raquo; <time datetime="2012-01-19T17:48:07+00:00">19 Jan 2012 12:48</time>
                                </div>
                                {{ if gt (len $topicsWithInfo.TopicPaginations) 1 }}
                                <div class="pagination">
                                    <span><i class="icon fa-clone fa-fw" aria-hidden="true"></i></span>
                                    <ul>
                                        {{ range $topicPagination := $topicsWithInfo.TopicPaginations }}
                                        {{ if eq $topicPagination.PaginationType "PaginationTypePage" }}
                                        <li><a class="button" href="./posts?t={{ $topic.TopicId }}&amp;start={{ $topicPagination.StartItem }}">{{ $topicPagination.PageNumber }}</a></li>
                                        {{ else if eq $topicPagination.PaginationType "PaginationTypeCurrentPage" }}
                                        <li><a class="button" href="./posts?t={{ $topic.TopicId }}&amp;start={{ $topicPagination.StartItem }}">{{ $topicPagination.PageNumber }}</a></li>
                                        {{ else if eq $topicPagination.PaginationType "PaginationTypeSeparator" }}
                                        <li class="ellipsis"><span>…</span></li>
                                        {{ end }}
                                        {{ end }}
                                    </ul>
                                </div>
                                {{ end }}
                            </div>
                        </dt>
                        <dd class="posts">{{ $topic.TopicNumPosts }} <dfn>Replies</dfn></dd>
                        <dd class="views">{{ $topic.TopicNumViews }} <dfn>Views</dfn></dd>
                        <dd class="lastpost">
                            <span><dfn>Last post </dfn>by <a href="./memberlist.php?mode=viewprofile&amp;u=4725&amp;sid=c751fd3e575b0a5b4384fb4bb359f983" class="username">StuBee</a> <a href="./viewtopic.php?p=791896&amp;sid=c751fd3e575b0a5b4384fb4bb359f983#p791896" title="Go to last post">
                                    <i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only"></span>
                                </a>
                                <br /><time datetime="2025-05-03T21:52:34+00:00">03 May 2025 17:52</time>
                            </span>
                        </dd>
                    </dl>
                </li>
                {{ end }}

            </ul>
        </div>
    </div>

    <!-- Bottom bar -->
    <div class="action-bar bar-bottom">
        <a href="./posting.php?mode=post&amp;f={{ $forum.ForumId }}&amp;sid=c751fd3e575b0a5b4384fb4bb359f983" class="button" title="Post a new topic">
            <span>New Topic</span> <i class="icon fa-pencil fa-fw" aria-hidden="true"></i>
        </a>
        <div class="pagination">
            4742 topics
            <ul>
                <li class="dropdown-container dropdown-button-control dropdown-page-jump page-jump">
                    <a class="button button-icon-only dropdown-trigger" href="#" title="Click to jump to page…" role="button"><i class="icon fa-level-down fa-rotate-270" aria-hidden="true"></i><span class="sr-only">Page <strong>1</strong> of <strong>95</strong></span></a>
                    <div class="dropdown">
                        <div class="pointer">
                            <div class="pointer-inner"></div>
                        </div>
                        <ul class="dropdown-contents">
                            <li>Jump to page:</li>
                            <li class="page-jump-form">
                                <input type="number" name="page-number" min="1" max="999999" title="Enter the page number you wish to go to" class="inputbox tiny" data-per-page="50" data-base-url=".&#x2F;viewforum.php&#x3F;f&#x3D;{{ $forum.ForumId }}&amp;amp&#x3B;sid&#x3D;c751fd3e575b0a5b4384fb4bb359f983" data-start-name="start" />
                                <input class="button2" value="Go" type="button" />
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="active"><span>1</span></li>
                <li><a class="button" href="./topics?f={{ $forum.ForumId }}&amp;start=50" role="button">2</a></li>
                <li><a class="button" href="./topics?f={{ $forum.ForumId }}&amp;start=100" role="button">3</a></li>
                <li><a class="button" href="./topics?f={{ $forum.ForumId }}&amp;start=150" role="button">4</a></li>
                <li><a class="button" href="./topics?f={{ $forum.ForumId }}&amp;start=200" role="button">5</a></li>
                <li class="ellipsis" role="separator"><span>…</span></li>
                <li><a class="button" href="./topics?f={{ $forum.ForumId }}&amp;start=4700" role="button">95</a></li>
                <li class="arrow next"><a class="button button-icon-only" href="./topics?f={{ $forum.ForumId }}&amp;start=50" rel="next" role="button"><i class="icon fa-chevron-right fa-fw" aria-hidden="true"></i><span class="sr-only">Next</span></a></li>
            </ul>
        </div>
    </div>
    <div class="action-bar actions-jump">
        <p class="jumpbox-return">
            <a href="./index.php?sid=c751fd3e575b0a5b4384fb4bb359f983" class="left-box arrow-left" accesskey="r">
                <i class="icon fa-angle-left fa-fw icon-black" aria-hidden="true"></i><span>Return to Board Index</span>
            </a>
        </p>
    </div>
    <div class="stat-block permissions">
        <h3>Forum permissions</h3>
        <p>You <strong>cannot</strong> post new topics in this forum<br />You <strong>cannot</strong> reply to topics in this forum<br />You <strong>cannot</strong> edit your posts in this forum<br />You <strong>cannot</strong> delete your posts in this forum<br />You <strong>cannot</strong> post attachments in this forum<br /></p>
    </div>
</div>
{{ end }}