{{ define "body" }}
{{ $root := . }}
<div id="page-body" class="page-body" role="main">

    <form action='{{ fnUrlWithSID "./user_register" $root.SessionId }}' method="post" id="register">
        <div class="panel">
            <div class="inner">
                <h2>Registration</h2>
                <fieldset class="fields2">
                    {{ if gt (len $root.FormData.Errors) 0 }}
                    <dl>
                        <dd class="error">
                            {{ range $counter, $error := $root.FormData.Errors }}
                            {{ $error }}{{ if lt (fnAdd $counter 1) (len $root.FormData.Errors) }}<br />{{ end }}
                            {{ end }}
                        </dd>
                    </dl>
                    {{ end }}
                    <dl>
                        <dd><strong>Please note that providing an email address is optional; however, it is recommended, as it can be used to assist with password recovery in case you forget your password.</strong></dd>
                    </dl>
                    <dl>
                        <dt><label for="username">Username:</label><br /><span>Length must be between 4 characters and 20 characters.</span></dt>
                        <dd><input type="text" tabindex="1" name="username" id="username" size="25" value="{{ $root.FormData.Username }}" class="inputbox autowidth" title="Username" autocomplete="off" autofocus /></dd>
                    </dl>
                    <dl>
                        <dt><label for="new_password">Password:</label><br /><span>Password must be at least 8 characters long, must contain letters in mixed case and must contain numbers.</span></dt>
                        <dd><input type="password" tabindex="2" name="new_password" id="new_password" size="25" value="{{ $root.FormData.NewPassword }}" class="inputbox autowidth" title="New password" autocomplete="off" /></dd>
                    </dl>
                    <dl>
                        <dt><label for="password_confirm">Confirm password:</label></dt>
                        <dd><input type="password" tabindex="3" name="password_confirm" id="password_confirm" size="25" value="{{ $root.FormData.PasswordConfirm }}" class="inputbox autowidth" title="Confirm password" autocomplete="off" /></dd>
                    </dl>
                    <dl>
                        <dt><label for="email">Email address (optional):</label></dt>
                        <dd><input type="email" tabindex="4" name="email" id="email" size="25" maxlength="100" value="{{ $root.FormData.Email }}" class="inputbox autowidth" title="Email address" autocomplete="off" /></dd>
                    </dl>
                    <hr />
                </fieldset>
            </div>
        </div>
        <div class="panel">
            <div class="inner">
                <fieldset class="submit-buttons">
                    <input type="submit" tabindex="9" name="submit" id="submit" value="Submit" class="button1 default-submit-action" />
                    <input type="hidden" name="csrf_token" value="b425b2929d3c7d45b897a68e166634b7158812f6" />
                </fieldset>
            </div>
        </div>
    </form>

</div>
{{ end }}