{{define "body"}}
<div id="page-body" class="page-body" role="main">

    <!-- Forum title -->
    <h2 class="forum-title"><a href="./viewforum.php?f=33&amp;sid=c751fd3e575b0a5b4384fb4bb359f983">Stocks, Bonds, ETFs, Funds, REITS and More</a></h2>
    <div>
        <!-- NOTE: remove the style="display: none" when you want to have the forum description on the forum body -->
        <div style="display: none !important;">Discuss your favourite picks, broker, and trading or investment style.<br /></div>
    </div>

    <div class="action-bar bar-top">
        <a href="./posting.php?mode=post&amp;f=33&amp;sid=c751fd3e575b0a5b4384fb4bb359f983" class="button" title="Post a new topic">
            <span>New Topic</span> <i class="icon fa-pencil fa-fw" aria-hidden="true"></i>
        </a>
        <div class="pagination">
            4742 topics
            <ul>
                <li class="dropdown-container dropdown-button-control dropdown-page-jump page-jump">
                    <a class="button button-icon-only dropdown-trigger" href="#" title="Click to jump to page…" role="button"><i class="icon fa-level-down fa-rotate-270" aria-hidden="true"></i><span class="sr-only">Page <strong>1</strong> of <strong>95</strong></span></a>
                    <div class="dropdown">
                        <div class="pointer">
                            <div class="pointer-inner"></div>
                        </div>
                        <ul class="dropdown-contents">
                            <li>Jump to page:</li>
                            <li class="page-jump-form">
                                <input type="number" name="page-number" min="1" max="999999" title="Enter the page number you wish to go to" class="inputbox tiny" data-per-page="50" data-base-url=".&#x2F;viewforum.php&#x3F;f&#x3D;33&amp;amp&#x3B;sid&#x3D;c751fd3e575b0a5b4384fb4bb359f983" data-start-name="start" />
                                <input class="button2" value="Go" type="button" />
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="active"><span>1</span></li>
                <li><a class="button" href="./viewforum.php?f=33&amp;sid=c751fd3e575b0a5b4384fb4bb359f983&amp;start=50" role="button">2</a></li>
                <li><a class="button" href="./viewforum.php?f=33&amp;sid=c751fd3e575b0a5b4384fb4bb359f983&amp;start=100" role="button">3</a></li>
                <li><a class="button" href="./viewforum.php?f=33&amp;sid=c751fd3e575b0a5b4384fb4bb359f983&amp;start=150" role="button">4</a></li>
                <li><a class="button" href="./viewforum.php?f=33&amp;sid=c751fd3e575b0a5b4384fb4bb359f983&amp;start=200" role="button">5</a></li>
                <li class="ellipsis" role="separator"><span>…</span></li>
                <li><a class="button" href="./viewforum.php?f=33&amp;sid=c751fd3e575b0a5b4384fb4bb359f983&amp;start=4700" role="button">95</a></li>
                <li class="arrow next"><a class="button button-icon-only" href="./viewforum.php?f=33&amp;sid=c751fd3e575b0a5b4384fb4bb359f983&amp;start=50" rel="next" role="button"><i class="icon fa-chevron-right fa-fw" aria-hidden="true"></i><span class="sr-only">Next</span></a></li>
            </ul>
        </div>
    </div>

    <div class="forumbg">
        <div class="inner">
            <ul class="topiclist">
                <li class="header">
                    <dl class="row-item">
                        <dt>
                            <div class="list-inner">Topics</div>
                        </dt>
                        <dd class="posts">Replies</dd>
                        <dd class="views">Views</dd>
                        <dd class="lastpost"><span>Last post</span></dd>
                    </dl>
                </li>
            </ul>
            <ul class="topiclist topics">

                <!-- Topic 106908 -->
                <li class="row bg1 sticky">
                    <dl class="row-item sticky_read">
                        <dt title="No unread posts">
                            <div class="list-inner">
                                <a href="./viewtopic.php?t=106908&amp;sid=c751fd3e575b0a5b4384fb4bb359f983" class="topictitle">Finding an existing stock picking thread</a> <br />
                                <div class="responsive-show" style="display: none;">
                                    Last post by <a href="./memberlist.php?mode=viewprofile&amp;u=12708&amp;sid=c751fd3e575b0a5b4384fb4bb359f983" class="username">ayoubsari</a> &laquo; <a href="./viewtopic.php?p=613145&amp;sid=c751fd3e575b0a5b4384fb4bb359f983#p613145" title="Go to last post"><time datetime="2018-04-11T11:28:54+00:00">11 Apr 2018 07:28</time></a>
                                </div>
                                <span class="responsive-show left-box" style="display: none;">Replies: <strong>13</strong></span>
                                <div class="topic-poster responsive-hide left-box">
                                    by <a href="./memberlist.php?mode=viewprofile&amp;u=206&amp;sid=c751fd3e575b0a5b4384fb4bb359f983" class="username">AltaRed</a> &raquo; <time datetime="2008-01-30T20:28:46+00:00">30 Jan 2008 15:28</time>
                                </div>
                                <div class="topic_preview_content" style="display:none;">
                                    <div class="topic_preview_first">You are supposed to use the existing thread.</div>
                                </div>
                            </div>
                        </dt>
                        <dd class="posts">13 <dfn>Replies</dfn></dd>
                        <dd class="views">42107 <dfn>Views</dfn></dd>
                        <dd class="lastpost">
                            <span><dfn>Last post </dfn>by <a href="./memberlist.php?mode=viewprofile&amp;u=12708&amp;sid=c751fd3e575b0a5b4384fb4bb359f983" class="username">ayoubsari</a> <a href="./viewtopic.php?p=613145&amp;sid=c751fd3e575b0a5b4384fb4bb359f983#p613145" title="Go to last post">
                                    <i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only"></span>
                                </a>
                                <br /><time datetime="2018-04-11T11:28:54+00:00">11 Apr 2018 07:28</time>
                            </span>
                        </dd>
                    </dl>
                </li>

                <!-- Topic 114502 -->
                <li class="row bg2">
                    <dl class="row-item topic_read_hot">
                        <dt title="No unread posts">
                            <div class="list-inner">
                                <a href="./viewtopic.php?t=114502&amp;sid=c751fd3e575b0a5b4384fb4bb359f983" class="topictitle">Frothy Equity Markets</a> <br />
                                <div class="responsive-show" style="display: none;">
                                    Last post by <a href="./memberlist.php?mode=viewprofile&amp;u=4725&amp;sid=c751fd3e575b0a5b4384fb4bb359f983" class="username">StuBee</a> &laquo; <a href="./viewtopic.php?p=791896&amp;sid=c751fd3e575b0a5b4384fb4bb359f983#p791896" title="Go to last post"><time datetime="2025-05-03T21:52:34+00:00">03 May 2025 17:52</time></a>
                                </div>
                                <span class="responsive-show left-box" style="display: none;">Replies: <strong>1756</strong></span>
                                <div class="topic-poster responsive-hide left-box">
                                    <i class="icon fa-paperclip fa-fw" aria-hidden="true"></i> by <a href="./memberlist.php?mode=viewprofile&amp;u=462&amp;sid=c751fd3e575b0a5b4384fb4bb359f983" class="username">fundamental</a> &raquo; <time datetime="2012-01-19T17:48:07+00:00">19 Jan 2012 12:48</time>
                                </div>
                                <div class="pagination">
                                    <span><i class="icon fa-clone fa-fw" aria-hidden="true"></i></span>
                                    <ul>
                                        <li><a class="button" href="./viewtopic.php?t=114502&amp;sid=c751fd3e575b0a5b4384fb4bb359f983">1</a></li>
                                        <li class="ellipsis"><span>…</span></li>
                                        <li><a class="button" href="./viewtopic.php?t=114502&amp;sid=c751fd3e575b0a5b4384fb4bb359f983&amp;start=1650">67</a></li>
                                        <li><a class="button" href="./viewtopic.php?t=114502&amp;sid=c751fd3e575b0a5b4384fb4bb359f983&amp;start=1675">68</a></li>
                                        <li><a class="button" href="./viewtopic.php?t=114502&amp;sid=c751fd3e575b0a5b4384fb4bb359f983&amp;start=1700">69</a></li>
                                        <li><a class="button" href="./viewtopic.php?t=114502&amp;sid=c751fd3e575b0a5b4384fb4bb359f983&amp;start=1725">70</a></li>
                                        <li><a class="button" href="./viewtopic.php?t=114502&amp;sid=c751fd3e575b0a5b4384fb4bb359f983&amp;start=1750">71</a></li>
                                    </ul>
                                </div>
                                <div class="topic_preview_content" style="display:none;">
                                    <div class="topic_preview_first">Is it just me, or are the markets looking a bit rich lately ? :geek: <br />
                                        <br />
                                        Ripe for a correction ?
                                    </div>
                                </div>
                            </div>
                        </dt>
                        <dd class="posts">1756 <dfn>Replies</dfn></dd>
                        <dd class="views">213056 <dfn>Views</dfn></dd>
                        <dd class="lastpost">
                            <span><dfn>Last post </dfn>by <a href="./memberlist.php?mode=viewprofile&amp;u=4725&amp;sid=c751fd3e575b0a5b4384fb4bb359f983" class="username">StuBee</a> <a href="./viewtopic.php?p=791896&amp;sid=c751fd3e575b0a5b4384fb4bb359f983#p791896" title="Go to last post">
                                    <i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only"></span>
                                </a>
                                <br /><time datetime="2025-05-03T21:52:34+00:00">03 May 2025 17:52</time>
                            </span>
                        </dd>
                    </dl>
                </li>

                <!-- Topic 113976 -->
                <li class="row bg1">
                    <dl class="row-item topic_read_hot">
                        <dt title="No unread posts">
                            <div class="list-inner">
                                <a href="./viewtopic.php?t=113976&amp;sid=c751fd3e575b0a5b4384fb4bb359f983" class="topictitle">Preferreds</a> <br />
                                <div class="responsive-show" style="display: none;">
                                    Last post by <a href="./memberlist.php?mode=viewprofile&amp;u=17659&amp;sid=c751fd3e575b0a5b4384fb4bb359f983" class="username">alexgain</a> &laquo; <a href="./viewtopic.php?p=791889&amp;sid=c751fd3e575b0a5b4384fb4bb359f983#p791889" title="Go to last post"><time datetime="2025-05-03T17:57:49+00:00">03 May 2025 13:57</time></a>
                                </div>
                                <span class="responsive-show left-box" style="display: none;">Replies: <strong>3163</strong></span>
                                <div class="topic-poster responsive-hide left-box">
                                    <i class="icon fa-paperclip fa-fw" aria-hidden="true"></i> by <a href="./memberlist.php?mode=viewprofile&amp;u=158&amp;sid=c751fd3e575b0a5b4384fb4bb359f983" class="username">like_to_retire</a> &raquo; <time datetime="2011-02-01T19:26:27+00:00">01 Feb 2011 14:26</time>
                                </div>
                                <div class="pagination">
                                    <span><i class="icon fa-clone fa-fw" aria-hidden="true"></i></span>
                                    <ul>
                                        <li><a class="button" href="./viewtopic.php?t=113976&amp;sid=c751fd3e575b0a5b4384fb4bb359f983">1</a></li>
                                        <li class="ellipsis"><span>…</span></li>
                                        <li><a class="button" href="./viewtopic.php?t=113976&amp;sid=c751fd3e575b0a5b4384fb4bb359f983&amp;start=3050">123</a></li>
                                        <li><a class="button" href="./viewtopic.php?t=113976&amp;sid=c751fd3e575b0a5b4384fb4bb359f983&amp;start=3075">124</a></li>
                                        <li><a class="button" href="./viewtopic.php?t=113976&amp;sid=c751fd3e575b0a5b4384fb4bb359f983&amp;start=3100">125</a></li>
                                        <li><a class="button" href="./viewtopic.php?t=113976&amp;sid=c751fd3e575b0a5b4384fb4bb359f983&amp;start=3125">126</a></li>
                                        <li><a class="button" href="./viewtopic.php?t=113976&amp;sid=c751fd3e575b0a5b4384fb4bb359f983&amp;start=3150">127</a></li>
                                    </ul>
                                </div>
                                <div class="topic_preview_content" style="display:none;">
                                    <div class="topic_preview_first">Time for a new thread.<br />
                                        <br />
                                        I thought it a bit unusual to see RioCan REIT issuing a rate reset preferred share recently, but now I see that Rona hardware is issuing one.<br />
                                        <br />
                                        Cumulative 5 Year Rate Reset 5.25% +265. Pfd-3.<br />
                                        <br />
                                        RONA Announces $125 Million Offering of Cumulative Rate Reset Preferred Shares <br />
                                        <br />
                                        RONA dabbles in rate reset preferred shares .<br />
                                        <br />
                                        ltr
                                    </div>
                                </div>
                            </div>
                        </dt>
                        <dd class="posts">3163 <dfn>Replies</dfn></dd>
                        <dd class="views">418864 <dfn>Views</dfn></dd>
                        <dd class="lastpost">
                            <span><dfn>Last post </dfn>by <a href="./memberlist.php?mode=viewprofile&amp;u=17659&amp;sid=c751fd3e575b0a5b4384fb4bb359f983" class="username">alexgain</a> <a href="./viewtopic.php?p=791889&amp;sid=c751fd3e575b0a5b4384fb4bb359f983#p791889" title="Go to last post">
                                    <i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only"></span>
                                </a>
                                <br /><time datetime="2025-05-03T17:57:49+00:00">03 May 2025 13:57</time>
                            </span>
                        </dd>
                    </dl>
                </li>

                <!-- Topic 127778 -->
                <li class="row bg2">
                    <dl class="row-item topic_read">
                        <dt title="No unread posts">
                            <div class="list-inner">
                                <a href="./viewtopic.php?t=127778&amp;sid=c751fd3e575b0a5b4384fb4bb359f983" class="topictitle">Vanguard turns 50</a> <br />
                                <div class="responsive-show" style="display: none;">
                                    Last post by <a href="./memberlist.php?mode=viewprofile&amp;u=3174&amp;sid=c751fd3e575b0a5b4384fb4bb359f983" class="username">poedin</a> &laquo; <a href="./viewtopic.php?p=791883&amp;sid=c751fd3e575b0a5b4384fb4bb359f983#p791883" title="Go to last post"><time datetime="2025-05-03T17:28:16+00:00">03 May 2025 13:28</time></a>
                                </div>
                                <span class="responsive-show left-box" style="display: none;">Replies: <strong>1</strong></span>
                                <div class="topic-poster responsive-hide left-box">
                                    by <a href="./memberlist.php?mode=viewprofile&amp;u=8&amp;sid=c751fd3e575b0a5b4384fb4bb359f983" class="username">Bylo Selhi</a> &raquo; <time datetime="2025-05-01T20:34:27+00:00">01 May 2025 16:34</time>
                                </div>
                                <div class="topic_preview_content" style="display:none;">
                                    <div class="topic_preview_first">Of the investor. By the investor. For the investor. Since 1975.</div>
                                </div>
                            </div>
                        </dt>
                        <dd class="posts">1 <dfn>Replies</dfn></dd>
                        <dd class="views">374 <dfn>Views</dfn></dd>
                        <dd class="lastpost">
                            <span><dfn>Last post </dfn>by <a href="./memberlist.php?mode=viewprofile&amp;u=3174&amp;sid=c751fd3e575b0a5b4384fb4bb359f983" class="username">poedin</a> <a href="./viewtopic.php?p=791883&amp;sid=c751fd3e575b0a5b4384fb4bb359f983#p791883" title="Go to last post">
                                    <i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only"></span>
                                </a>
                                <br /><time datetime="2025-05-03T17:28:16+00:00">03 May 2025 13:28</time>
                            </span>
                        </dd>
                    </dl>
                </li>

                <!-- Topic 127780 -->
                <li class="row bg1">
                    <dl class="row-item topic_read">
                        <dt title="No unread posts">
                            <div class="list-inner">
                                <a href="./viewtopic.php?t=127780&amp;sid=c751fd3e575b0a5b4384fb4bb359f983" class="topictitle">AI names heating up again — buying opportunity?</a> <br />
                                <div class="responsive-show" style="display: none;">
                                    Last post by <a href="./memberlist.php?mode=viewprofile&amp;u=17712&amp;sid=c751fd3e575b0a5b4384fb4bb359f983" class="username">Aurora</a> &laquo; <a href="./viewtopic.php?p=791878&amp;sid=c751fd3e575b0a5b4384fb4bb359f983#p791878" title="Go to last post"><time datetime="2025-05-03T14:33:22+00:00">03 May 2025 10:33</time></a>
                                </div>
                                <span class="responsive-show left-box" style="display: none;">Replies: <strong>2</strong></span>
                                <div class="topic-poster responsive-hide left-box">
                                    by <a href="./memberlist.php?mode=viewprofile&amp;u=17712&amp;sid=c751fd3e575b0a5b4384fb4bb359f983" class="username">Aurora</a> &raquo; <time datetime="2025-05-03T11:27:24+00:00">03 May 2025 07:27</time>
                                </div>
                                <div class="topic_preview_content" style="display:none;">
                                    <div class="topic_preview_first">Been watching the markets lately — May kicked off with a bit of a pullback, but tech stocks, especially AI-related ones, are showing strength again<br />
                                        <br />
                                        Names like $NVDA, $AMD, and $MSFT are moving. Earnings season is here too, so there could be some solid setups<br />
                                        Only downside is the CAD’s been pretty weak lately, so funding a USD account feels a bit more expensive<br />
                                        <br />
                                        Personally keeping an eye on AI chips, cloud infra, and a few oversold large caps...
                                    </div>
                                </div>
                            </div>
                        </dt>
                        <dd class="posts">2 <dfn>Replies</dfn></dd>
                        <dd class="views">339 <dfn>Views</dfn></dd>
                        <dd class="lastpost">
                            <span><dfn>Last post </dfn>by <a href="./memberlist.php?mode=viewprofile&amp;u=17712&amp;sid=c751fd3e575b0a5b4384fb4bb359f983" class="username">Aurora</a> <a href="./viewtopic.php?p=791878&amp;sid=c751fd3e575b0a5b4384fb4bb359f983#p791878" title="Go to last post">
                                    <i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only"></span>
                                </a>
                                <br /><time datetime="2025-05-03T14:33:22+00:00">03 May 2025 10:33</time>
                            </span>
                        </dd>
                    </dl>
                </li>

                <!-- Topic 127430 -->
                <li class="row bg2">
                    <dl class="row-item topic_read">
                        <dt title="No unread posts">
                            <div class="list-inner">
                                <a href="./viewtopic.php?t=127430&amp;sid=c751fd3e575b0a5b4384fb4bb359f983" class="topictitle">Dividend and distribution hikes (2025)</a> <br />
                                <div class="responsive-show" style="display: none;">
                                    Last post by <a href="./memberlist.php?mode=viewprofile&amp;u=29&amp;sid=c751fd3e575b0a5b4384fb4bb359f983" class="username">DenisD</a> &laquo; <a href="./viewtopic.php?p=791855&amp;sid=c751fd3e575b0a5b4384fb4bb359f983#p791855" title="Go to last post"><time datetime="2025-05-02T22:15:07+00:00">02 May 2025 18:15</time></a>
                                </div>
                                <span class="responsive-show left-box" style="display: none;">Replies: <strong>89</strong></span>
                                <div class="topic-poster responsive-hide left-box">
                                    <i class="icon fa-paperclip fa-fw" aria-hidden="true"></i> by <a href="./memberlist.php?mode=viewprofile&amp;u=636&amp;sid=c751fd3e575b0a5b4384fb4bb359f983" class="username">Peculiar_Investor</a> &raquo; <time datetime="2025-01-01T11:53:13+00:00">01 Jan 2025 06:53</time>
                                </div>
                                <div class="pagination">
                                    <span><i class="icon fa-clone fa-fw" aria-hidden="true"></i></span>
                                    <ul>
                                        <li><a class="button" href="./viewtopic.php?t=127430&amp;sid=c751fd3e575b0a5b4384fb4bb359f983">1</a></li>
                                        <li><a class="button" href="./viewtopic.php?t=127430&amp;sid=c751fd3e575b0a5b4384fb4bb359f983&amp;start=25">2</a></li>
                                        <li><a class="button" href="./viewtopic.php?t=127430&amp;sid=c751fd3e575b0a5b4384fb4bb359f983&amp;start=50">3</a></li>
                                        <li><a class="button" href="./viewtopic.php?t=127430&amp;sid=c751fd3e575b0a5b4384fb4bb359f983&amp;start=75">4</a></li>
                                    </ul>
                                </div>
                                <div class="topic_preview_content" style="display:none;">
                                    <div class="topic_preview_first">FWF'ers do an amazing job tracking down and reporting on dividend and distribution hikes. Thank you.<br />
                                        <br />
                                        Please use this topic for 2025 dividend and distribution hikes. Your fellow FWF'ers would appreciate if you could post a link to the announcement.<br />
                                        <br />
                                        For reference, last year's topic was
                                    </div>
                                </div>
                            </div>
                        </dt>
                        <dd class="posts">89 <dfn>Replies</dfn></dd>
                        <dd class="views">21573 <dfn>Views</dfn></dd>
                        <dd class="lastpost">
                            <span><dfn>Last post </dfn>by <a href="./memberlist.php?mode=viewprofile&amp;u=29&amp;sid=c751fd3e575b0a5b4384fb4bb359f983" class="username">DenisD</a> <a href="./viewtopic.php?p=791855&amp;sid=c751fd3e575b0a5b4384fb4bb359f983#p791855" title="Go to last post">
                                    <i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only"></span>
                                </a>
                                <br /><time datetime="2025-05-02T22:15:07+00:00">02 May 2025 18:15</time>
                            </span>
                        </dd>
                    </dl>
                </li>

            </ul>
        </div>
    </div>

    <!-- Bottom bar -->
    <div class="action-bar bar-bottom">
        <a href="./posting.php?mode=post&amp;f=33&amp;sid=c751fd3e575b0a5b4384fb4bb359f983" class="button" title="Post a new topic">
            <span>New Topic</span> <i class="icon fa-pencil fa-fw" aria-hidden="true"></i>
        </a>
        <div class="pagination">
            4742 topics
            <ul>
                <li class="dropdown-container dropdown-button-control dropdown-page-jump page-jump">
                    <a class="button button-icon-only dropdown-trigger" href="#" title="Click to jump to page…" role="button"><i class="icon fa-level-down fa-rotate-270" aria-hidden="true"></i><span class="sr-only">Page <strong>1</strong> of <strong>95</strong></span></a>
                    <div class="dropdown">
                        <div class="pointer">
                            <div class="pointer-inner"></div>
                        </div>
                        <ul class="dropdown-contents">
                            <li>Jump to page:</li>
                            <li class="page-jump-form">
                                <input type="number" name="page-number" min="1" max="999999" title="Enter the page number you wish to go to" class="inputbox tiny" data-per-page="50" data-base-url=".&#x2F;viewforum.php&#x3F;f&#x3D;33&amp;amp&#x3B;sid&#x3D;c751fd3e575b0a5b4384fb4bb359f983" data-start-name="start" />
                                <input class="button2" value="Go" type="button" />
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="active"><span>1</span></li>
                <li><a class="button" href="./viewforum.php?f=33&amp;sid=c751fd3e575b0a5b4384fb4bb359f983&amp;start=50" role="button">2</a></li>
                <li><a class="button" href="./viewforum.php?f=33&amp;sid=c751fd3e575b0a5b4384fb4bb359f983&amp;start=100" role="button">3</a></li>
                <li><a class="button" href="./viewforum.php?f=33&amp;sid=c751fd3e575b0a5b4384fb4bb359f983&amp;start=150" role="button">4</a></li>
                <li><a class="button" href="./viewforum.php?f=33&amp;sid=c751fd3e575b0a5b4384fb4bb359f983&amp;start=200" role="button">5</a></li>
                <li class="ellipsis" role="separator"><span>…</span></li>
                <li><a class="button" href="./viewforum.php?f=33&amp;sid=c751fd3e575b0a5b4384fb4bb359f983&amp;start=4700" role="button">95</a></li>
                <li class="arrow next"><a class="button button-icon-only" href="./viewforum.php?f=33&amp;sid=c751fd3e575b0a5b4384fb4bb359f983&amp;start=50" rel="next" role="button"><i class="icon fa-chevron-right fa-fw" aria-hidden="true"></i><span class="sr-only">Next</span></a></li>
            </ul>
        </div>
    </div>
    <div class="action-bar actions-jump">
        <p class="jumpbox-return">
            <a href="./index.php?sid=c751fd3e575b0a5b4384fb4bb359f983" class="left-box arrow-left" accesskey="r">
                <i class="icon fa-angle-left fa-fw icon-black" aria-hidden="true"></i><span>Return to Board Index</span>
            </a>
        </p>
    </div>
    <div class="stat-block permissions">
        <h3>Forum permissions</h3>
        <p>You <strong>cannot</strong> post new topics in this forum<br />You <strong>cannot</strong> reply to topics in this forum<br />You <strong>cannot</strong> edit your posts in this forum<br />You <strong>cannot</strong> delete your posts in this forum<br />You <strong>cannot</strong> post attachments in this forum<br /></p>
    </div>
</div>
{{end}}