{{ define "body" }}
<!--
<html dir="ltr" lang="en-gb">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="refresh" content="3; url=https://www.financialwisdomforum.org/forum/index.php?sid=a71a618fa171b28473639a63a259acc6" />
<title>Financial Wisdom Forum - User Control Panel - Information</title>
-->
<div id="page-body" class="page-body" role="main">
    <div class="panel" id="message">
        <div class="inner">
            <h2 class="message-title">Information</h2>
            <p>Your account has now been activated. Thank you for registering.</p>
        </div>
    </div>
</div>
{{ end }}