{{ define "body" }}
<div id="page-body" class="page-body" role="main">
    <div class="panel" id="message">
        <div class="inner">
            <h2 class="message-title">Information</h2>
            <p>You have been <strong>permanently</strong> banned from this board.<br /><br />Please contact the <a href="mailto:management@financialwisdomforum.org">Board Administrator</a> for more information.<br /><br /><em>A ban has been issued on your username.</em></p>
        </div>
    </div>
</div>
{{ end }}