{{ define "body" }}
<div id="page-body" class="page-body" role="main">
    <div class="panel" id="message">
        <div class="inner">
            <h2 class="message-title">Information</h2>
            <p>Your account has been created. However, this board requires account activation. An activation key has been sent to the email address you provided. Please check your email for further information and also be sure to check your junk mail box. It may take a while to get the email depending on your email provider.<br /><br /><a href="./index.php">Return to the index page</a></p>
        </div>
    </div>
</div>
{{ end }}